<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMPH00014</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2>Welcome to</h2>
        <h1>Uzbek Elections</h1>
      </div>
    </div>
  </div>
  <div class="header-right-panel">
    <div class="header-right-panel-top">
      <p>Call Us : 78-278-17-17</p>
      <p> <a href="#">Mail Us : info@uzbekelections.com</a> </p>
    </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a href="index.html">home</a></li>
        <li class="marRight20"><a href="about.html" class="active">about</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- panel wrap div end -->
<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30">
      <div class="mid-panel">
        <div class="mid-panel-content">
          <div class="title">
            <h1>O`zbekistonda prezidentlik saylovlari tarixiga nazar</h1>
          </div>
          <div class="border"></div>
          <h2>O`zbekistonda prezidentlik lavozimi joriy etilishi</h2>
          <p>1990 yil mart oyida SSSR tarqatilmay turib ittifoq mamlakatlari ichida O`zbekiston SSRda ilk bor prezidentlik lavozimi ta'sis etildi. 24 mart kuni Oliy Kengash xalq deputatlari tomonidan o`sha vaqtda Kompartiya markaziy qo`mitasi bosh kotibi bo`lgan Islom Abdug`aniyevich Karimov O`zbekiston SSR prezidenti etib saylandi.</p>
          <p>Shuningdek, 1990 yil 24 mart kuni O`zbekiston SSRda vitse-prezident lavozimi ham joriy qilinib, unga Shukrullo Mirsaidov tayinlangan. Mirsaidov mamlakat tarixida birinchi va oxirgi vitse-prezident bo`lib qolgan. 1992 yil 13 yanvar kuni vitse-prezidentlik lavozimi tugatilib, bosh vazir lavozimi ta'sis etilgan.</p>
          <p>Prezidentlik saylovlari tarixi</p>
          <p>1991 yil 29 dekabr kuni mustaqil O`zbekiston tarixida ilk bor umumxalq prezident saylovlari bo`lib o`tdi. Saylovlarda Xalq demokratik partiyasidan Islom Karimov hamda «Erk» partiyasidan partiya yetakchisi Muhammad Solihning nomzodi qo`yilgan. Saylov yakunlariga ko`ra, Islom Karimov 86 foiz ovoz bilan g`alaba qozongan.</p>
          <p>1995 yil 26 mart kuni amaldagi prezident Islom Karimovning vakolatlarini 2000 yilga qadar uzaytirish yuzasidan umummilliy referendum o`tkaziladi. Qatnashchilarning mutlaq ko`pchilik (99,6 foizi) qismining ovozi bilan prezidentlik muddati uzaytiriladi.</p>
          <p>2000 yil 9 yanvar kuni O`zbekistonda ikkinchi marta prezidentlik saylovi bo`lib o`tdi. Markaziy Saylov komissiyasi ma'lumotlariga ko`ra, bunda saylovchilarning 95,1 foizi, ya'ni 12 million 123 ming 199 nafar fuqaro qatnashgan. Ushbu saylovda ikki nafar nomzod ishtirok etgan.</p>
          <p>Saylov natijalariga ko`ra, Fidokorlar milliy demokratik partiyasidan ko`rsatilgan nomzod Islom Karimov 11,1 million nafar, ya'ni saylovchilarning 91,9 foizi ovozini olib, g`alaba qozongan. Xalq Demokratik partiyasidan ko`rsatilgan ikkinchi nomzod Abdulhafiz Jalolovga esa 505,1 ming saylovchi, ya'ni 4,71 foiz saylovchi ovoz bergan.</p>
          <p>O`zbekiston tarixidagi uchinchi prezidentlik saylovi 2007 yil 23 dekabr kuni bo`lib o`tdi. Saylovda 16,3 millionga yaqin saylovchilarning 14,7 milliondan ortig`i, ya'ni 90,6 foizi qatnashgan.</p>
          <p>Ushbu saylovda ilk bor «Adolat» sotsial-demokratik partiyasidan ayol kishi - Dilorom Toshmuhammedovaning nomzodi ko`rsatiladi. Shuningdek, O`zbekiston Liberal-demokratik partiyasidan Islom Karimov, Xalq-demokratik partiyasidan Asliddin Rustamov, saylovchilar tashabbuskor guruhidan Akmal Saidov - jami 4 nafar nomzod saylovda qatnashadi. Saylov natijalariga ko`ra, O`zLiDep nomzodi Islom Karimov 13 milliondan ortiq (88,1 foizi) saylovchilarning ovozini olib, g`olib bo`lgan.</p>
          <p>Mamlakat tarixidagi to`rtinchi prezidentlik saylovi 2015 yil 29 mart kuni bo`lib o`tgan. Markaziy saylov komissiyasi ma'lumotlariga ko`ra, ushbu saylovda ro`yxatga kiritilgan 20,7 million saylovchilarning 18,9 million nafari (91,08 foizi) qatnashgan. Saylovda O`zbekiston Liberal-demokratik partiyasidan Islom Karimov, «Milliy tiklanish» demokratik partiyasidan Akmal Saidov, Xalq demokratik partiyasidan Hotamjon Ketmonov,
              «Adolat» sotsial-demokratik partiyasidan Narimon Umarov nomzodlari ko`rsatilgan. Ushbu saylovda ham 17,1 million nafar (90 foizdan ortiq) ovoz olgan O`zbekiston Liberal-demokratik partiyasi nomzodi Islom Karimov g`alaba qozongan.</p>
          <p>Oradan 1 yil-u 5 oy o`tgach, 2016 yil 2 sentabr kuni O`zbekistonning birinchi prezidenti Islom Karimov 78 yoshida vafot etdi.</p>
          <p>Shundan so`ng, Konstitutsiyaning 96-moddasiga muvofiq, amaldagi prezident o`z vazifalarini bajara olmaydigan holatlarda uning vazifa va vakolatlari vaqtincha Oliy Majlis Senati Raisi - Nig`matilla Yo`ldoshevning zimmasiga yuklatilgan. Lekin, oradan 6 kun o`tib, 8 sentabr kuni Nig`matilla Yo`ldoshev Oliy Majlis palatalari qo`shma yig`ilishida so`zga chiqib, 
             davlat rahbari bo`lish uchun salohiyati yetmasligini bildirdi va prezident vazifa va vakolatlarini o`zining zimmasiga yuklamasliklarini so`radi. Shuningdek, Yo`ldoshev amaldagi bosh vazir Shavkat Mirziyoyevning rahbarlik lavozimlaridagi ko`p yillik tajribasini inobatga olgan holda, prezident vazifa va vakolatlarini bajarishni uning zimmasiga vaqtincha yuklash maqsadga muvofiqligini taklif qilgan.</p>
          <p>Shu kuni Oliy Majlis palatalarining qo`shma qaroriga muvofiq O`zbekiston Respublikasi prezidentining vazifa va vakolatlarini bajarish vaqtincha Bosh vazir Shavkat Mirziyoyev zimmasiga yuklandi. Shundan so`ng, Konstitutsiyaga ko`ra, uch oy muddat ichida - 2016 yil 4 dekabr kuni O`zbekiston tarixidagi beshinchi prezidentlik saylovi bo`lib o`tdi.
              Ushbu saylovlarda Milliy tiklanish partiyasidan Sarvar Otamurotov, O`zLiDepdan, Shavkat Mirziyoyev, «Adolat» partiyasidan Narimon Umarov, Xalq demokratik partiyasidan Hotamjon Ketmonov nomzodlari qo`yildi.</p>
          <p>Saylov natijalariga ko`ra, Shavkat Mirziyoyevni saylovchilarning 15 million 900 mingdan ortig`i, ya'ni 88,61 foizi yoqlab ovoz berdi. Markaziy saylov komissiyasi Shavkat Miromonovich Mirziyoyevni O`zbekiston Respublikasi prezidenti lavozimiga saylangan deb hisoblash to`g`risida qaror qabul qildi.</p>
          <p>O`zbekiston prezidentining mavqeyi va saylanish tartibi</p>
          <p>Konstitutsiyaga ko`ra, O`zbekistonda prezidentning shaxsi daxlsizdir, u davlat boshlig`i, Qurolli kuchlar Oliy bosh qo`mondoni hisoblanadi va davlat hokimiyati organlarining kelishilgan holda faoliyat yuritishini hamda hamkorligini ta'minlaydi.</p>
          <p>Saylov kodeksiga ko`ra, qasddan sodir etilgan jinoyati uchun ilgari sudlangan fuqarolar hamda diniy tashkilotlar va birlashmalarning professional xizmatchilari O`zbekiston Respublikasi prezidentligiga nomzod etib ro`yxatga olinmaydi.</p>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="search-panel">
        <div class="content">
          <div class="title">
            <h1>Qidiruv</h1>
          </div>
          <div class="border"></div>
          <h2>Search the site here...</h2>
          <div class="searchbox">
            <input type="text" class="input" value="" />
            <div class="button"><a href="#"></a></div>
          </div>
        </div>
      </div>
      <div class="midpanel">
        <div class="content marginBottom">
          <div class="title">
            <h1>Linklar orqali yanada ko`proq ma`lumotga ega bo`ling</h1>
          </div>
          <div class="border"></div>
          <ul>
            <li><a href="#">Saylov turlari</a></li>
            <li><a href="#">Nomzodlar haqida to`liq ma`lumot </a></li>
            <li><a href="#">Respublikasining amaldagi prezidenti </a></li>
            <li><a href="#">Qayta saylov</a></li>
            <li><a href="#">Respublika sifatida tan olishi</a></li>
            <li><a href="#">Shartlar va talablar</a></li>
            <li class="borderNone padBottom20"><a href="#">Birinchi va oxirgi vitse-prezident</a></li>
          </ul>
        </div>
      </div>
      <div class="midpanel">
        <div class="content">
          <div class="title">
            <h1>Prezidentlikka nomzodi ta`sis etilgan shaxslar</h1>
          </div>
          <div class="border"></div>
          <div class="container">
            <div class="left marRigth20">
              <h2>Jalolov Abdulhafiz</h2>
              <p>2000-yilgi Prezidentlik saylovida nomzodi qo`yilgan.
                O`zbekiston xalq demokratik partiyasi (O`zbekiston XDP) a`zosi. </p>
            </div>
            <div class="img"><img src="images/img-7.jpg"/>
          </div>
          </div>
          <div class="container">
            <div class="left">
              <h2>Asliddin Rustamov</h2>
              <p>2007-yilgi Prezidentlik saylov nomzodi. 
                Oliy Majlis Qonunchilik palatasi Spikerining o`rinbosari.</p>
            </div>
            <div class="img"><img src="images/img-8.jpg" /></div>
          </div>
          <div class="container borderNone">
            <div class="left">
              <h2>Akmal Saidov</h2>
              <p> 2007 va 2015-yilgi prezidentlik saylovlari qatnashchisi.
                Inson huquqlari bo`yicha milliy markaz raisi.</p>
            </div>
            <div class="img"><img src="images/img-9.jpg" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--- page wrap div end -->
<div class="footer">
  <p>Copyright (c) uzbekelection. All rights reserved. <a href="http://www.alltemplates.com">< www.alltemplateneeds.com></a></p>
</div>
</body>
</html>
