{% extends 'base.html' %}
{% block content %}
<div class="panel-wrap">
  <div class="panel-wrapper">
    <div class="panel marRight30">
      <div class="img"><img src="{% static 'images/img-1.jpg' %}"/></div>
      <div class="title">
        <h1>Islom Karimov Abdug`aniyevich</h1>
      </div>
      <div class="border"></div>
      <div class="content">
        <p>Islom Abdug`aniyevich Karimov (1938-2016-y.) — davlat va siyosat arbobi, O`zbekiston Respublikasining birinchi prezidenti. O`zbekiston Qahramoni (1994).
           O`zbekiston Qurolli Kuchlari Oliy Bosh Qo`mondoni. O`zbekiston mustaqilligi e`lon qilingunga qadar O`zSSR kommunistik partiyasi birinchi kotibi. 1991-yildan umrining oxiriga qadar O`zbekiston Prezidenti. </p>
        <div class="button-link"><a href="#">readmore</a></div>
      </div>
    </div>
    <div class="panel marRight30">
      <div class="img"><img src="{% static 'images/img-2.jpg' %}"/></div>
      <div class="title">
        <h1 class="border-bottom">Shavkat Mirziyoyev Miromonovich</h1>
      </div>
      <div class="border"></div>
      <div class="content">
        <p>Shavkat Miromonovich Mirziyoyev (1957-yil 24-iyul) — O`zbekiston davlat va siyosat arbobi.
           O`zbekiston Respublikasining amaldagi prezidenti, Qurolli kuchlar Oliy Bosh qo`mondoni (2016-yildan hozirgacha). Turli yillarda O`zbekiston Respublikasining Bosh vaziri (2003—2016) va Jizzax, Samarqand viloyatlari hokimi (1996—2003) lavozimlarida faoliyat yuritgan.</p>
        <div class="button-link"><a href="#">readmore</a></div>
      </div>
    </div>
    <div class="panel">
      <div class="img"><img src="{% static 'images/img-3.jpg' %}"/></div>
      <div class="title">
        <h1 class="border-bottom"> Muhammad<br/> Solih</h1>
      </div>
      <div class="border"></div>
      <div class="content">
        <p>Asl ismi Salay Madaminov. U (1949-yil 20-dekabrda tug`ilgan) - „Erk“ partiyasi asoschisi, muholifatchi, shoir va siyosatchi. Mirzo Ulugbek nomidagi O`zbekiston milliy universitetini tamomlagan. U 1991-yilgi O`zbekiston prezidentlik saylovlarida muxolifat nomzod o`laroq qatnashgan. Saylovda 12,7 foiz ovoz to`plagan.</p>
        <div class="button-link"><a href="#">readmore</a></div>
      </div>
    </div>
  </div>
</div>
<!--- panel wrap div end -->
<div class="clearing"></div>
<div class="page-wrap">
  <div class="top-content">
    <h1>O`zbekiston Respublikasi</h1>
    <div class="top-border"></div>
    <p>O`zbekiston Respublikasi Markaziy Osiyoning markaziy qismida joylashgan mamlakat. O`zbekiston Respublikasi 1991-yil 1-sentabrda mustaqil davlat sifatida e`lon qilingan. Poytaxti-Toshkent shahri. Davlat tili-o`zbek tili. Maydoni-448 978  km². Hozirda mamlakatning umumiy aholisi soni 36 milliondan ortiq. Pul birligi-so`m. O`zbekiston Respublikasi hududi 12 ta viloyat, Toshkent shahri va Qoraqalpog`iston Respublikasidan iboratdir, shuningdek, u mustaqil, demokratik, dunyoviy va konstitutsiyaviy davlat hisoblanadi. O`zbekiston MDH, BMT, YXHT va SHHT a`zosidir.
       O`zbekiston Respublikasining asosiy qonuni Konstitutsiyadir. Konstitutsiyasiga ko`ra, O`zbekiston Respublikasi-boshqaruvning "Respublika" shakliga ega bo`lgan suveren, demokratik, huquqiy, ijtimoiy va dunyoviy davlat hisoblanadi.</p>
    <div class="bottom-border"></div>
    <div class="button-link"><a href="#">readmore</a></div>
  </div>
  <div class="page-wrapper">
    <div class="primary-content marRight30 ">
      <div class="toppanel">
        <div class="container">
          <h1>Qaynoq yangiliklar</h1>
          <div class="border-bottom"></div>
          <div class="container-wrap">
            <div class="container-panel padBottom">
              <div class="container-panel-left marRight20"><img src="{% static 'images/icon-1.png' %}"></div>
              <div class="container-panel-right">
                <h3>Ilmiy-amaliy izlanishlar</h3>
                <p>Najot ta`lim o`quvchilari tomonidan yaratilgan saytlar va ularning vazifalari.</p>
              </div>
            </div>
            <div class="container-panel borderNone marginTop">
              <div class="container-panel-left marRight20"><img src="{% static 'images/icon-3.png' %}"></div>
              <div class="container-panel-right">
                <h3>O`zbekistondagi qurilishlar va havoning ifloslanishi</h3>
                <p>Yurtimizda qurilish ortgani sari havoning ifloslanish darajasi 
                  yuqori ko`rsatkichlarga ortib bormoqda</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-wrap borderNone">
          <div class="container-panel marLeft20 padBottom">
            <div class="container-panel-left marRight20"><img src="{% static 'images/icon-2.png' %}"></div>
            <div class="container-panel-right">
              <h3>Ob-havo malumotlari</h3>
              <p>O`zbekiston / Toshkent | havo harorati 3-5 daraja issiq⛅</p>
              <p>O`zbekiston / Samarqand | havo harorati 0-1 daraja bulutli ☁️</p>
            </div>
          </div>
          <div class="container-panel borderNone marginTop marLeft20">
            <div class="container-panel-left marRight20"><img src="{% static 'images/icon-4.png' %}"></div>
            <div class="container-panel-right">
              <h3>Export va Import malumotlari</h3>
              <p>O`zbekiston Export ko`rsatkichlari o`tgan yilgi ko`rsatkichlarga qaraganda 
                ancha yuqori ko`rsatkichlarni aks ettirmoqda</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mid-panel marginTop">
        <div class="mid-panel-content">
          <div class="title">
            <h1>O`zbekiston prezidenlik saylovida nomzodi qo`yilgan ayollar</h1>
          </div>
          <div class="border"></div>
          <h2>2007-2021-2023-yilgi nomzodlar</h2>
          <p> 2007-yilgi O`zbekiston prezidentlik saylovi- Dilorom G`ofurjonovna Toshmuhamedova (1962-yil 19-dekabr, Toshkentda tavallud topgan) — o`zbekistonlik shifokor, siyosatchi, jamoat arbobi. 2020-yildan — O`zbekiston Respublikasi Oliy Majlisi Senatining yoshlar, fan, ta`lim masalalari qo`mitasi raisining o`rinbosari. 2018-2020-yillarda O`zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi „Oila“ markazi direktori.(1-rasm)</p>
          <p> 2021-yilgi O`zbekiston prezidentlik saylovi-Maqsuda Azizovna Varisova (tug`. 1961-yil 20-yanvar, Toshkent viloyati Zangiota tumani, O`zSSR) — O`zbekiston Respublikasi Oliy Majlisi Qonunchilik palatasi deputati. O`zbekiston Xalq demokratik partiyasi raisining o`rinbosari.(2-rasm)</p>
          <p> 2023-yilgi O`zbekiston prezidentlik saylovi-Robaxon Anvarovna Mahmudova (Robaxon Anvarovna Maxmudova; 1958-yil, Farg`ona viloyati, O`zbekiston SSR, SSSR) — o`zbekistonlik huquqshunos, sudya va senator. 2020-yilda O`zbekiston Respublikasi Oliy Majlisi Senatining a`zosi etib saylangan.(3-rasm)</p>
          <div class="img marRight20"><img src="{% static 'images/img-4.jpg' %}"/></div>
          <div class="img marRight20"><img src="{% static 'images/img-5.jpg' %}"/></div>
          <div class="img"><img src="{% static 'images/img-6.jpg' %}"/></div>
        </div>
        <div class="mid-panel marginTop">
          <div class="mid-panel-content ">
            <div class="title">
              <h1>Prezidentlik saylovlari uchun shartlar va talablar</h1>
            </div>
            <div class="border"></div>
            <h2>Asosiy shartlar va talablar quyidagilardan iborat:</h2>
            <p>Nomzod 35 yoshdan kichik bo`lmasligi kerak.<br/>
              Nomzod davlat tilini yaxshi bilishi lozim.<br/>
              Nomzod kamida 10 yil O`zbekiston hududida muqim yashagan bo`lishi kerak.<br/>
              Prezidentlikka nomzodlar siyosiy partiyalar yoki fuqarolar guruhining tashabbusi bilan ko`rsatiladi.<br/>
              Nomzod ko`rsatish uchun kamida 300 nafar saylovchidan iborat tashabbuskor guruh tuzilishi lozim.<br/>
              Saylovlar umumiy, teng va to`g`ridan-to`g`ri saylov huquqi asosida yashirin ovoz berish yo`li bilan o`tkaziladi.<br/>
              Prezident 7 yil muddatga saylanadi.</p>
          <div class="img marRight20"> <img src="images/img-4.jpg"/></div>
          <div class="img marRight20"> <img src="images/img-5.jpg"/></div>
          <div class="img"> <img src="images/img-6.jpg"/></div>
        </div>
      </div>
      <div class="mid-panel marginTop">
        <div class="mid-panel-content ">
          <div class="title">
            <h1>Prezidentlik saylovlari uchun shartlar va talablar</h1>
          </div>
          <div class="border"></div>
          <h2>Asosiy shartlar va talablar quyidagilardan iborat:</h2>
          <p>Nomzod 35 yoshdan kichik bo`lmasligi kerak.<br/>
            Nomzod davlat tilini yaxshi bilishi lozim.<br/>
            Nomzod kamida 10 yil O`zbekiston hududida muqim yashagan bo`lishi kerak.<br/>
            Prezidentlikka nomzodlar siyosiy partiyalar yoki fuqarolar guruhining tashabbusi bilan ko`rsatiladi.<br/>
            Nomzod ko`rsatish uchun kamida 300 nafar saylovchidan iborat tashabbuskor guruh tuzilishi lozim.<br/>
            Saylovlar umumiy, teng va to`g`ridan-to`g`ri saylov huquqi asosida yashirin ovoz berish yo`li bilan o`tkaziladi.<br/>
            Prezident 7 yil muddatga saylanadi.</br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="sidebar">
  <div class="search-panel">
    <div class="content">
      <div class="title">
        <h1>Qidiruv</h1>
      </div>
      <div class="border"></div>
      <h2>Search the site here...</h2>
      <div class="searchbox">
        <input type="text" class="input" value="" />
        <div class="button"><a href="#"></a></div>
      </div>
    </div>
  </div>
  <div class="midpanel">
    <div class="content marginBottom">
      <div class="title">
        <h1>Yanada ko`proq ma`lumotlarga ega bo`ling</h1>
      </div>
      <div class="border"></div>
      <ul>
        <li><a href="#">Saylov turlari</a></li>
        <li><a href="#">Nomzodlar haqida to`liq ma`lumot </a></li>
        <li><a href="#">Respublikasining amaldagi prezidenti </a></li>
        <li><a href="#">Qayta saylov</a></li>
        <li><a href="#">Respublika sifatida tan olishi</a></li>
        <li><a href="#">Shartlar va talablar</a></li>
        <li class="borderNone padBottom20"><a href="#">Birinchi va oxirgi vitse-prezident</a></li>
      </ul>
    </div>
  </div>
  <div class="midpanel">
    <div class="content">
      <div class="title">
        <h1>Nomzodi saylovga ta`sis etilganlar</h1>
      </div>
      <div class="border"></div>
      <div class="container">
        <div class="left marRigth20">
          <h2>Nariman Umarov</h2>
          <p>2015-yilgi saylov ishtirokchisi.
            Hozirgi kunda, O`zbekiston Respublikasi Oliy Majlisi Senatining sud-huquq masalalari qo`mitasi raisi</p>
        </div>
        <div class="img"><img src="{% static 'images/img-7.jpg' %}" /></div>
      </div>
      <div class="container">
        <div class="left">
          <h2>Xatamjon Ketmonov</h2>
          <p>O`zbekiston Respublikasi Oliy Majlisining Qonunchilik palatasi deputati, 2015 va 2016-yildagi prezidentlik saylovlarida O`zXDPdan ko`rsatilgan nomzod.</p>
        </div>
        <div class="img"><img src="{% static 'images/img-8.jpg' %}" /></div>
      </div>
      <div class="container borderNone">
        <div class="left">
          <h2>Alisher Qodirov</h2>
          <p>O`zbekiston Prezidentlik ishtirokchisi, O`zbekiston Respublikasi Kommunist partiyasi bilan Prezidentlikda tashkilotlashgan, Birinchi va oxirgi vitse-prezident.</p>
        </div>
        <div class="img"><img src="{% static 'images/img-9.jpg' %}" /></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
